Repository Newcomer365/tangem-app-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @ishulgin_tangem, @tnagmetulla_tangem, @mismoilov_tangem, @nsamoylov_tangem, @dkamalov_tangem

AND-10029 Fixed detekt & tests. (#137)
  .github/workflows/pr_check.yml
  features/send/impl/src/main/java/com/tangem/features/send/impl/presentation/state/fee/custom/BitcoinCustomFeeConverter.kt
Owners: @ishulgin_tangem, @vkozarez_tangem, @mismoilov_tangem

[Tech] enable 5.21 blockchains
  core/config-toggles/src/main/assets/configs/excluded_blockchains_config.json
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9999 [Decompose Integration] Staking screen
  app/src/main/java/com/tangem/tap/MainActivity.kt
  app/src/main/java/com/tangem/tap/di/domain/TxHistoryDomainModule.kt
  app/src/main/java/com/tangem/tap/proxy/redux/DaggerGraphState.kt
  app/src/main/java/com/tangem/tap/routing/utils/ChildFactory.kt
  common/routing/src/main/kotlin/com/tangem/common/routing/AppRoute.kt
  features/staking/api/build.gradle.kts
  features/staking/api/src/main/kotlin/com/tangem/features/staking/api/StakingComponent.kt
  features/staking/api/src/main/kotlin/com/tangem/features/staking/api/navigation/StakingRouter.kt
  features/staking/impl/build.gradle.kts
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/DefaultStakingComponent.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/di/StakingModule.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/di/StakingRouterModule.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/navigation/DefaultStakingRouter.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/navigation/InnerStakingRouter.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/StakingFragment.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/model/StakingClickIntents.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/model/StakingModel.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/state/StakingUiState.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/state/stub/StakingClickIntentsStub.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/state/transformers/SetAmountDataTransformer.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/state/transformers/SetInitialDataStateTransformer.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/ui/StakingClaimRewardsValidatorContent.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/ui/StakingConfirmationContent.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/ui/StakingInitialInfoContent.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/ui/StakingValidatorListContent.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @ishulgin_tangem, @mismoilov_tangem

AND-9984 [Swap Decompose Integration] Move UI and viewModel logic (#102)
  app/src/main/java/com/tangem/tap/routing/utils/ChildFactory.kt
  features/swap/impl/src/main/java/com/tangem/feature/swap/DefaultSwapComponent.kt
  features/swap/impl/src/main/java/com/tangem/feature/swap/di/SwapModelModule.kt
  features/swap/impl/src/main/java/com/tangem/feature/swap/model/SwapModel.kt
  features/swap/impl/src/main/java/com/tangem/feature/swap/model/SwapNotificationsFactory.kt
  features/swap/impl/src/main/java/com/tangem/feature/swap/model/SwapProcessDataState.kt
  features/swap/impl/src/main/java/com/tangem/feature/swap/presentation/SwapFragment.kt
  features/swap/impl/src/main/java/com/tangem/feature/swap/ui/StateBuilder.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-10027 [Balance Caching] Add way to recognize a source of quote
  core/datasource/src/main/java/com/tangem/datasource/di/QuotesStoreModule.kt
  core/datasource/src/main/java/com/tangem/datasource/local/datastore/RuntimeSharedStore.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/DefaultQuotesStore.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/QuotesStore.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/converter/QuoteConverter.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/model/QuoteDM.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/utils/QuotesSerializer.kt
  core/datasource/src/main/java/com/tangem/datasource/utils/MoshiDataStoreSerializer.kt
  core/datasource/src/main/java/com/tangem/datasource/utils/MoshiTypesExt.kt
  data/onramp/src/main/java/com/tangem/data/onramp/converters/HotCryptoCurrencyConverter.kt
  domain/tokens/models/src/main/java/com/tangem/domain/tokens/model/Quote.kt
  domain/tokens/src/test/kotlin/com/tangem/domain/tokens/mock/MockQuotes.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @dkamalov_tangem

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
#* @tangem-developments/android-team

# Order is important; the last matching pattern takes the most
# precedence.

# Region Global
* @atkachev_tangem @ahohlov_tangem @vkozarez_tangem

# Region CI/CD

.github/workflows/ @ishulgin_tangem @vkozarez_tangem
ci_resources/ @ishulgin_tangem @vkozarez_tangem
fastlane @ishulgin_tangem @vkozarez_tangem

# Region App Legacy
app/ @atkachev_tangem @ahohlov_tangem @vkozarez_tangem

# Region Test
app/src/androidTest/ @tnagmetulla_tangem @ishulgin_tangem


# Region Common

common/ui/ @mismoilov_tangem

common/routing/ @atkachev_tangem

common/ui-charts/ @nsamoylov_tangem @mismoilov_tangem

# Region Core

core/decompose/ @nsamoylov_tangem @atkachev_tangem

core/navigation/ @atkachev_tangem

core/pagination/ @nsamoylov_tangem

core/ui/ @mismoilov_tangem

core/utils/ @atkachev_tangem @ahohlov_tangem


# Region features

**/details/ @atkachev_tangem

**/disclaimer/ @mismoilov_tangem

**/manage-tokens/ @atkachev_tangem

**/markets/ @nsamoylov_tangem

**/onboarding/ @atkachev_tangem  @ahohlov_tangem

**/onboarding-v2/ @nsamoylov_tangem

**/onramp/ @dkamalov_tangem

**/push-notifications/ @mismoilov_tangem

**/qr-scanning/ @mismoilov_tangem

**/send/ @mismoilov_tangem

**/staking/ @ishulgin_tangem @mismoilov_tangem

**/stories/ @mismoilov_tangem

**/swap/ @vkozarez_tangem

**/tester/ @ahohlov_tangem

**/tokendetails/ @dkamalov_tangem

**/wallet/ @ahohlov_tangem

**/wallet-settings/ @atkachev_tangem
