Repository Newcomer365/tangem-app-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @ishulgin_tangem, @tnagmetulla_tangem, @mismoilov_tangem, @nsamoylov_tangem, @dkamalov_tangem

AND-9908 Added actions (#100)
  .github/workflows/create_release.yml
  .github/workflows/set_jira_next_release_version.yml
  .github/workflows/start_release.yml
Owners: @ishulgin_tangem, @vkozarez_tangem

AND-9985 Fixed Swap stories: no button to close stories
  core/ui/src/main/java/com/tangem/core/ui/components/stories/StoriesContainer.kt
  core/ui/src/main/java/com/tangem/core/ui/components/stories/inner/StoriesProgressBar.kt
Owners: @mismoilov_tangem

AND-9981 Fixed Swap stories: dot on button is shown if stories are unavailable
  common/ui/src/main/java/com/tangem/common/ui/swapStoriesScreen/SwapStoriesUM.kt
  features/stories/impl/src/main/java/com/tangem/feature/stories/impl/model/StoriesModel.kt
Owners: @mismoilov_tangem

AND-9942 Refactor ui tests (#90)
  app/build.gradle.kts
  app/src/androidTest/kotlin/com/tangem/common/BaseTestCase.kt
  app/src/androidTest/kotlin/com/tangem/common/di/TestModule.kt
  app/src/androidTest/kotlin/com/tangem/common/extensions/KNode.kt
  app/src/androidTest/kotlin/com/tangem/common/extensions/TestDataUtils.kt
  app/src/androidTest/kotlin/com/tangem/scenarios/MainPageScenario.kt
  app/src/androidTest/kotlin/com/tangem/scenarios/OpenMainScreenScenario.kt
  app/src/androidTest/kotlin/com/tangem/screens/DetailsPage.kt
  app/src/androidTest/kotlin/com/tangem/screens/DetailsTestScreen.kt
  app/src/androidTest/kotlin/com/tangem/screens/DisclaimerPage.kt
  app/src/androidTest/kotlin/com/tangem/screens/DisclaimerTestScreen.kt
  app/src/androidTest/kotlin/com/tangem/screens/MainPage.kt
  app/src/androidTest/kotlin/com/tangem/screens/MainTestScreen.kt
  app/src/androidTest/kotlin/com/tangem/screens/StoriesPage.kt
  app/src/androidTest/kotlin/com/tangem/screens/StoriesTestScreen.kt
  app/src/androidTest/kotlin/com/tangem/screens/TestTopBar.kt
  app/src/androidTest/kotlin/com/tangem/screens/TopBarPage.kt
  app/src/androidTest/kotlin/com/tangem/screens/WalletSettingsPage.kt
  app/src/androidTest/kotlin/com/tangem/screens/WalletSettingsTestScreen.kt
  app/src/androidTest/kotlin/com/tangem/tests/DetailsScreenTest.kt
  app/src/androidTest/kotlin/com/tangem/tests/MainScreenTest.kt
  app/src/androidTest/kotlin/com/tangem/tests/ScanErrorTest.kt
  app/src/androidTest/kotlin/com/tangem/tests/StoriesTest.kt
  gradle/dependencies.toml
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @tnagmetulla_tangem, @ishulgin_tangem

AND-9962 Fixed Express: incorrect display of tx-failed status (#94)
  features/swap/domain/models/src/main/java/com/tangem/feature/swap/domain/models/domain/ExchangeStatus.kt
  features/tokendetails/impl/src/main/kotlin/com/tangem/feature/tokendetails/presentation/tokendetails/state/factory/TokenDetailsSwapTransactionsStateConverter.kt
  features/tokendetails/impl/src/main/kotlin/com/tangem/feature/tokendetails/presentation/tokendetails/ui/components/express/exchange/ExchangeStatusBlock.kt
  features/tokendetails/impl/src/main/kotlin/com/tangem/feature/tokendetails/presentation/tokendetails/ui/components/express/exchange/ExchangeStatusBottomSheetContent.kt
Owners: @vkozarez_tangem, @dkamalov_tangem

AND-9917 [Visa] Pin code sending (#80)
  app/src/main/java/com/tangem/tap/di/domain/VisaDomainModule.kt
  core/datasource/src/main/java/com/tangem/datasource/api/visa/TangemVisaApi.kt
  core/datasource/src/main/java/com/tangem/datasource/api/visa/models/request/SetPinCodeRequest.kt
  data/visa/src/main/kotlin/com/tangem/data/visa/DefaultVisaActivationRepository.kt
  data/visa/src/main/kotlin/com/tangem/data/visa/MockVisaActivationRepository.kt
  domain/visa/models/src/main/kotlin/com/tangem/domain/visa/model/VisaEncryptedPinCode.kt
  domain/visa/src/main/kotlin/com/tangem/domain/visa/SetVisaPinCodeUseCase.kt
  domain/visa/src/main/kotlin/com/tangem/domain/visa/repository/VisaActivationRepository.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/DefaultOnboardingVisaComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/pincode/OnboardingVisaPinCodeComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/pincode/model/OnboardingVisaPinCodeModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/model/OnboardingVisaModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/route/OnboardingVisaRoute.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/route/Step.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/route/Titles.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @nsamoylov_tangem

AND-9950 [Visa] Welcome back screen navigation refactor (#95)
  app/src/main/java/com/tangem/tap/domain/visa/VisaCardScanHandler.kt
  data/visa/src/main/kotlin/com/tangem/data/visa/MockVisaActivationRepository.kt
  domain/visa/models/src/main/kotlin/com/tangem/domain/visa/model/VisaActivationOrderInfo.kt
  domain/visa/models/src/main/kotlin/com/tangem/domain/visa/model/VisaActivationRemoteState.kt
  domain/visa/models/src/main/kotlin/com/tangem/domain/visa/model/VisaCardActivationStatus.kt
  domain/visa/models/src/main/kotlin/com/tangem/domain/visa/model/VisaCardWalletDataToSignRequest.kt
  domain/visa/models/src/main/kotlin/com/tangem/domain/visa/model/VisaDataToSignByCardWallet.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/DefaultOnboardingVisaComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/accesscode/OnboardingVisaAccessCodeComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/accesscode/model/OnboardingVisaAccessCodeModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/approve/OnboardingVisaApproveComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/approve/model/OnboardingVisaApproveModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/inprogress/model/OnboardingVisaInProgressModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/otherwallet/OnboardingVisaOtherWalletComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/otherwallet/model/OnboardingVisaOtherWalletModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/pincode/OnboardingVisaPinCodeComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/pincode/model/OnboardingVisaPinCodeModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/welcome/OnboardingVisaWelcomeComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/welcome/model/OnboardingVisaWelcomeModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/welcome/ui/OnboardingVisaWelcome.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/welcome/ui/state/OnboardingVisaWelcomeUM.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/common/ActivationReadyEvent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/common/PreparationDataForApprove.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/di/ComponentModule.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/model/OnboardingVisaModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/route/OnboardingVisaRoute.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/route/Step.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/route/Titles.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @nsamoylov_tangem

AND-9975 Add RenameWalletModel
  features/wallet-settings/impl/src/main/kotlin/com/tangem/feature/walletsettings/component/impl/DefaultRenameWalletComponent.kt
  features/wallet-settings/impl/src/main/kotlin/com/tangem/feature/walletsettings/component/impl/model/RenameWalletModel.kt
  features/wallet-settings/impl/src/main/kotlin/com/tangem/feature/walletsettings/component/preview/PreviewRenameWalletComponent.kt
  features/wallet-settings/impl/src/main/kotlin/com/tangem/feature/walletsettings/di/WalletSettingsComponentModule.kt
  features/wallet-settings/impl/src/main/kotlin/com/tangem/feature/walletsettings/di/WalletSettingsModelModule.kt
  features/wallet-settings/impl/src/main/kotlin/com/tangem/feature/walletsettings/entity/RenameWalletUM.kt
  features/wallet-settings/impl/src/main/kotlin/com/tangem/feature/walletsettings/ui/RenameWalletDialog.kt
Owners: @atkachev_tangem

AND-5985 fixed redux concurrency crash
  app/src/main/java/com/tangem/tap/features/home/HomeViewModel.kt
  app/src/main/java/com/tangem/tap/features/home/redux/HomeMiddleware.kt
  app/src/main/java/com/tangem/tap/features/onboarding/OnboardingHelper.kt
  app/src/main/java/com/tangem/tap/features/saveWallet/redux/SaveWalletMiddleware.kt
  core/config-toggles/src/main/assets/configs/feature_toggles_config.json
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9060 Add Alephium and excluded
  app/src/main/assets/testnet_tokens.json
  app/src/main/java/com/tangem/tap/network/exchangeServices/mercuryo/MercuryoBlockchainMapping.kt
  app/src/main/java/com/tangem/tap/network/exchangeServices/moonpay/MoonpayBlockchainMapping.kt
  core/config-toggles/src/main/assets/configs/excluded_blockchains_config.json
  core/ui/src/main/java/com/tangem/core/ui/extensions/BlockchainIcons.kt
  core/ui/src/main/res/drawable/ic_alephium_22.xml
  core/ui/src/main/res/drawable/img_alephium_22.xml
  data/common/src/main/kotlin/com/tangem/data/common/currency/NetworkOperations.kt
  domain/legacy/src/main/java/com/tangem/domain/common/configs/Wallet2CardConfig.kt
  domain/legacy/src/test/java/com/tangem/domain/common/configs/Wallet2CardConfigTest.kt
  features/swap/domain/src/main/java/com/tangem/feature/swap/domain/SwapInteractorImpl.kt
  gradle/dependencies.toml
  libs/blockchain-sdk/src/main/java/com/tangem/blockchainsdk/utils/Blockchain.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @mismoilov_tangem

AND-9976 & AND-9977 Fix hot tokens bugs (#105)
  core/datasource/src/main/java/com/tangem/datasource/api/tangemTech/models/HotCryptoResponse.kt
  data/onramp/src/main/java/com/tangem/data/onramp/DefaultHotCryptoRepository.kt
  data/onramp/src/main/java/com/tangem/data/onramp/converters/HotCryptoCurrencyConverter.kt
  domain/onramp/models/src/main/kotlin/com/tangem/domain/onramp/model/HotCryptoCurrency.kt
  features/onramp/impl/src/main/kotlin/com/tangem/features/onramp/hottokens/converter/HotTokenItemStateConverter.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @dkamalov_tangem

AND-9996 Fixed Swap: Existential deposit notification isn't displayed if swap max amount (Polkadot/ Kusama/ Azero)
  features/swap/impl/src/main/java/com/tangem/feature/swap/presentation/SwapNotificationsFactory.kt
Owners: @vkozarez_tangem

AND-9979 & AND-9983 & AND-9988 Fix hot tokens bugs (#109)
  app/src/main/java/com/tangem/tap/di/domain/OnrampDomainModule.kt
  app/src/main/java/com/tangem/tap/features/main/MainViewModel.kt
  core/datasource/build.gradle.kts
  core/datasource/src/main/java/com/tangem/datasource/di/exchangeservice/HotCryptoLoaderModule.kt
  core/datasource/src/main/java/com/tangem/datasource/exchangeservice/hotcrypto/DefaultHotCryptoLoader.kt
  core/datasource/src/main/java/com/tangem/datasource/exchangeservice/hotcrypto/HotCryptoLoader.kt
  core/datasource/src/main/java/com/tangem/datasource/exchangeservice/hotcrypto/HotCryptoResponseStore.kt
  data/onramp/src/main/java/com/tangem/data/onramp/DefaultHotCryptoRepository.kt
  data/onramp/src/main/java/com/tangem/data/onramp/di/OnrampDataModule.kt
  data/tokens/src/main/kotlin/com/tangem/data/tokens/di/TokensDataModule.kt
  data/tokens/src/main/kotlin/com/tangem/data/tokens/repository/DefaultCurrenciesRepository.kt
  domain/onramp/src/main/java/com/tangem/domain/onramp/FetchHotCryptoUseCase.kt
  domain/onramp/src/main/java/com/tangem/domain/onramp/repositories/HotCryptoRepository.kt
  features/wallet/impl/src/main/java/com/tangem/feature/wallet/presentation/wallet/viewmodels/intents/WalletClickIntents.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @dkamalov_tangem

AND-10001 Fixed There is no loader between tokens in swap screen
  common/ui/src/main/java/com/tangem/common/ui/expressStatus/ExpressStatusBlock.kt
  features/details/impl/src/main/kotlin/com/tangem/features/details/component/preview/PreviewUserWalletListComponent.kt
  features/send/impl/src/main/java/com/tangem/features/send/impl/presentation/ui/send/SendContent.kt
  features/swap/impl/src/main/java/com/tangem/feature/swap/ui/SwapScreenContent.kt
Owners: @mismoilov_tangem, @atkachev_tangem, @vkozarez_tangem

AND-10007 Fixed FB builds. (#114)
  .github/workflows/pr_check.yml
  .github/workflows/publish_firebase.yml
Owners: @ishulgin_tangem, @vkozarez_tangem

AND-9912 [Tokens] Implemented new logic that works with cached balances
  domain/core/src/main/kotlin/com/tangem/domain/core/lce/LceFlow.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/GetTokenListUseCase.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/operations/CurrenciesStatusesCachedOperations.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9912 [Tokens] Updated NetworksRepository
  data/tokens/src/main/kotlin/com/tangem/data/tokens/repository/DefaultNetworksRepository.kt
  domain/legacy/src/main/java/com/tangem/domain/walletmanager/model/UpdateWalletManagerResult.kt
  domain/tokens/models/src/main/java/com/tangem/domain/tokens/model/CryptoCurrencyAmountStatus.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/operations/CurrenciesStatusesLceOperations.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/repository/NetworksRepository.kt
  domain/tokens/src/test/kotlin/com/tangem/domain/tokens/repository/MockNetworksRepository.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9912 [Tokens] Updated StakingRepository
  data/staking/src/main/java/com/tangem/data/staking/DefaultStakingRepository.kt
  domain/staking/src/main/java/com/tangem/domain/staking/repositories/StakingRepository.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/operations/CurrenciesStatusesLceOperations.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/operations/CurrenciesStatusesOperations.kt
  domain/tokens/src/test/kotlin/com/tangem/domain/tokens/repository/MockStakingRepository.kt
Owners: @ishulgin_tangem, @mismoilov_tangem, @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9912 [Tokens] Updated QuotesRepository
  data/tokens/src/main/kotlin/com/tangem/data/tokens/repository/DefaultQuotesRepository.kt
  domain/markets/src/main/java/com/tangem/domain/markets/GetCurrencyQuotesUseCase.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/RefreshMultiCurrencyWalletQuotesUseCase.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/operations/CurrenciesStatusesLceOperations.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/repository/QuotesRepository.kt
  domain/tokens/src/test/kotlin/com/tangem/domain/tokens/repository/MockQuotesRepository.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @nsamoylov_tangem

AND-9908 Set jira version to commits on release branch. (#110)
  .github/workflows/set_jira_next_release_version.yml
Owners: @ishulgin_tangem, @vkozarez_tangem

AND-9789 Fixed upload to GH action. (#107)
  .github/workflows/publish_github.yml
Owners: @ishulgin_tangem, @vkozarez_tangem

AND-9998 Added action that creates PR release->dev. (#116)
  .github/workflows/create_pr_to_develop.yml
Owners: @ishulgin_tangem, @vkozarez_tangem

AND-9908 Modified "set JIRA version" reusable workflow. (#119)
  .github/workflows/create_pr_to_develop.yml
  .github/workflows/create_release.yml
  .github/workflows/set_jira_version.yml
Owners: @ishulgin_tangem, @vkozarez_tangem

AND-9993 Mercuryo screen is opened if add a token if it is not available for purchase
  features/onramp/impl/src/main/kotlin/com/tangem/features/onramp/selecttoken/model/OnrampOperationModel.kt
Owners: @dkamalov_tangem

AND-9990 Hot tokens: unsupported tokens are displayed in the block on the old card
  data/onramp/src/main/java/com/tangem/data/onramp/DefaultHotCryptoRepository.kt
  data/onramp/src/main/java/com/tangem/data/onramp/converters/HotCryptoCurrencyConverter.kt
  domain/legacy/src/main/java/com/tangem/domain/common/extensions/CardSdk.kt
Owners: @dkamalov_tangem, @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9183 Enabled Solana partial unstaking (#72)
  app/src/main/java/com/tangem/tap/di/domain/StakingDomainModule.kt
  core/datasource/src/main/java/com/tangem/datasource/api/stakekit/StakeKitApi.kt
  data/transaction/src/main/java/com/tangem/data/transaction/DefaultTransactionRepository.kt
  domain/demo/src/main/java/com/tangem/domain/demo/DemoTransactionSender.kt
  domain/staking/src/main/java/com/tangem/domain/staking/GetStakingTransactionsUseCase.kt
  domain/transaction/src/main/java/com/tangem/domain/transaction/TransactionRepository.kt
  domain/transaction/src/main/java/com/tangem/domain/transaction/usecase/SendTransactionUseCase.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/state/helpers/StakingTransactionSender.kt
  features/staking/impl/src/main/java/com/tangem/features/staking/impl/presentation/state/transformers/SetConfirmationStateInitTransformer.kt
  gradle/dependencies.toml
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @ishulgin_tangem, @mismoilov_tangem

AND-9981 Fixed Swap stories: dot on button is shown if stories are unavailable
  app/src/main/java/com/tangem/tap/common/images/Coil.kt
  app/src/main/java/com/tangem/tap/common/images/DefaultImagePreloader.kt
  app/src/main/java/com/tangem/tap/di/domain/PromoDomainModule.kt
  app/src/main/java/com/tangem/tap/features/main/MainViewModel.kt
  common/ui/src/main/java/com/tangem/common/ui/swapStoriesScreen/SwapStoriesScreen.kt
  core/datasource/src/main/java/com/tangem/datasource/api/tangemTech/TangemTechApi.kt
  core/datasource/src/main/java/com/tangem/datasource/local/preferences/PreferencesKeys.kt
  core/datasource/src/main/java/com/tangem/datasource/local/promo/DefaultPromoStoriesStore.kt
  core/datasource/src/main/java/com/tangem/datasource/local/promo/PromoStoriesStore.kt
  core/res/src/main/res/values-de/strings.xml
  core/res/src/main/res/values-es/strings.xml
  core/res/src/main/res/values-fr/strings.xml
  core/res/src/main/res/values-ru/strings.xml
  core/res/src/main/res/values-uk-rUA/strings.xml
  core/res/src/main/res/values/strings.xml
  core/ui/src/main/java/com/tangem/core/ui/res/TangemColorPalette.kt
  data/promo/build.gradle.kts
  data/promo/src/main/java/com/tangem/data/promo/DefaultPromoRepository.kt
  domain/promo/src/main/java/com/tangem/domain/promo/GetStoryContentUseCase.kt
  domain/promo/src/main/java/com/tangem/domain/promo/PromoRepository.kt
  domain/promo/src/main/java/com/tangem/domain/promo/ShouldShowStoriesUseCase.kt
  domain/promo/src/main/java/com/tangem/domain/promo/ShouldShowSwapStoriesUseCase.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/GetCryptoCurrencyActionsUseCase.kt
  features/stories/impl/src/main/java/com/tangem/feature/stories/impl/model/StoriesModel.kt
  features/swap/impl/src/main/java/com/tangem/feature/swap/viewmodels/SwapViewModel.kt
  features/wallet/impl/src/main/java/com/tangem/feature/wallet/presentation/wallet/loaders/implementors/MultiWalletContentLoader.kt
  features/wallet/impl/src/main/java/com/tangem/feature/wallet/presentation/wallet/loaders/implementors/MultiWalletContentLoaderFactory.kt
  features/wallet/impl/src/main/java/com/tangem/feature/wallet/presentation/wallet/loaders/implementors/SingleWalletWithTokenContentLoader.kt
  features/wallet/impl/src/main/java/com/tangem/feature/wallet/presentation/wallet/loaders/implementors/SingleWalletWithTokenContentLoaderFactory.kt
  features/wallet/impl/src/main/java/com/tangem/feature/wallet/presentation/wallet/subscribers/MultiWalletActionButtonsSubscriber.kt
  features/wallet/impl/src/main/java/com/tangem/feature/wallet/presentation/wallet/viewmodels/intents/WalletCurrencyActionsClickIntents.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @mismoilov_tangem

AND-10013, AND-10009 [Onboarding V2] bug fixes (#124)
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/multiwallet/impl/child/seedphrase/model/MnemonicRepository.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/multiwallet/impl/child/seedphrase/model/MultiWalletSeedPhraseModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/multiwallet/impl/child/seedphrase/model/SeedPhraseState.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/multiwallet/impl/child/seedphrase/model/builder/GenerateSeedPhraseUiStateBuilder.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/multiwallet/impl/child/seedphrase/model/builder/ImportSeedPhraseUiStateBuilder.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/multiwallet/impl/child/seedphrase/model/builder/SeedPhraseCheckUiStateBuilder.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/multiwallet/impl/child/seedphrase/ui/MultiWalletSeedPhraseWords.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/multiwallet/impl/child/seedphrase/ui/state/MultiWalletSeedPhraseUM.kt
Owners: @nsamoylov_tangem

AND-9997 validate seed suggestions
  features/onboarding/src/main/java/com/tangem/feature/onboarding/presentation/wallet2/viewmodel/SeedPhraseViewModel.kt
Owners: @atkachev_tangem, @ahohlov_tangem

AND-10016 Support Alephium private node
  core/datasource/src/main/java/com/tangem/datasource/local/config/environment/converter/BlockchainSDKConfigConverter.kt
  core/datasource/src/main/java/com/tangem/datasource/local/config/environment/models/EnvironmentConfigModel.kt
  gradle/dependencies.toml
  libs/blockchain-sdk/src/main/java/com/tangem/blockchainsdk/providers/ProviderTypeIdMapping.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9949 [Visa] In progress screen after pin code (#97)
  app/src/main/java/com/tangem/tap/domain/tasks/visa/VisaCardActivationTask.kt
  app/src/main/java/com/tangem/tap/domain/tasks/visa/VisaCustomerWalletApproveTask.kt
  app/src/main/java/com/tangem/tap/domain/visa/VisaCardScanHandler.kt
  data/visa/src/debug/kotlin/com/tangem/data/visa/DefaultVisaRepository.kt
  domain/legacy/src/main/java/com/tangem/domain/common/visa/VisaUtilities.kt
  domain/legacy/src/main/java/com/tangem/domain/common/visa/VisaWalletPublicKeyUtility.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/DefaultOnboardingVisaComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/inprogress/OnboardingVisaInProgressComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/inprogress/model/OnboardingVisaInProgressModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/otherwallet/OnboardingVisaOtherWalletComponent.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/child/otherwallet/model/OnboardingVisaOtherWalletModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/model/OnboardingVisaModel.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/route/OnboardingVisaRoute.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/route/Step.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/visa/impl/route/Titles.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @nsamoylov_tangem

AND-10015 build guide
  .github/README.md
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9911 [Tokens] Fixed review issues
  core/datasource/src/main/java/com/tangem/datasource/di/NetworksStatusesStoreModule.kt
  core/datasource/src/main/java/com/tangem/datasource/local/network/DefaultNetworksStatusesStore.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9911 [Tokens] Implemented persistence cache for network statuses
  core/datasource/src/main/java/com/tangem/datasource/di/NetworksStatusesStoreModule.kt
  core/datasource/src/main/java/com/tangem/datasource/local/network/DefaultNetworksStatusesStore.kt
  core/datasource/src/main/java/com/tangem/datasource/local/network/NetworksStatusesStore.kt
  core/datasource/src/main/java/com/tangem/datasource/local/network/entity/NetworkStatusDM.kt
  core/datasource/src/main/java/com/tangem/datasource/local/network/utils/NetworkStatusMapper.kt
  core/datasource/src/main/java/com/tangem/datasource/local/network/utils/NetworkStatusesSerializer.kt
  data/tokens/src/main/kotlin/com/tangem/data/tokens/repository/DefaultNetworksRepository.kt
  domain/tokens/models/src/main/java/com/tangem/domain/tokens/model/CryptoCurrency.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-9911 [Tokens] Implemented persistence cache for yield balances
  core/datasource/src/main/java/com/tangem/datasource/di/MoshiModule.kt
  core/datasource/src/main/java/com/tangem/datasource/di/StakingStoreModule.kt
  core/datasource/src/main/java/com/tangem/datasource/local/token/DefaultStakingBalanceStore.kt
  core/datasource/src/main/java/com/tangem/datasource/local/token/entity/YieldBalanceWrappersDTO.kt
  core/datasource/src/main/java/com/tangem/datasource/local/token/utils/YieldBalancesSerializer.kt
  data/staking/src/main/java/com/tangem/data/staking/DefaultStakingRepository.kt
  data/staking/src/main/java/com/tangem/data/staking/di/StakingDataModule.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @ishulgin_tangem, @mismoilov_tangem

AND-9911 [Tokens] Implemented persistence cache for quotes
  core/datasource/src/main/java/com/tangem/datasource/di/QuotesStoreModule.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/DefaultQuotesStore.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/QuotesStore.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/model/QuoteDM.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/model/StoredQuote.kt
  core/datasource/src/main/java/com/tangem/datasource/local/quote/utils/QuotesSerializer.kt
  data/tokens/src/main/kotlin/com/tangem/data/tokens/repository/DefaultQuotesRepository.kt
  data/tokens/src/main/kotlin/com/tangem/data/tokens/utils/QuotesConverter.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-10026 [Balance Caching] Add feature toggle
  app/src/main/java/com/tangem/tap/di/domain/TokensDomainModule.kt
  app/src/main/java/com/tangem/tap/domain/tokens/DefaultTokensFeatureToggles.kt
  core/config-toggles/src/main/assets/configs/feature_toggles_config.json
  core/datasource/src/main/java/com/tangem/datasource/local/config/environment/EnvironmentConfig.kt
  domain/tokens/build.gradle.kts
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/GetTokenListUseCase.kt
  domain/tokens/src/main/kotlin/com/tangem/domain/tokens/TokensFeatureToggles.kt
  features/onboarding-v2/impl/src/main/kotlin/com/tangem/features/onboarding/v2/multiwallet/impl/child/seedphrase/model/SeedPhraseState.kt
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem, @nsamoylov_tangem

Fact0rn custom fee
  features/send/impl/src/main/java/com/tangem/features/send/impl/presentation/state/fee/custom/BitcoinCustomFeeConverter.kt
  gradle/dependencies.toml
  libs/crypto/src/main/java/com/tangem/lib/crypto/BlockchainUtils.kt
Owners: @mismoilov_tangem, @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

[Tech] bump sdk versions to release
  gradle/dependencies.toml
Owners: @atkachev_tangem, @ahohlov_tangem, @vkozarez_tangem

AND-10029 Fixed detekt & tests. (#138)
  .github/workflows/pr_check.yml
  features/send/impl/src/main/java/com/tangem/features/send/impl/presentation/state/fee/custom/BitcoinCustomFeeConverter.kt
Owners: @ishulgin_tangem, @vkozarez_tangem, @mismoilov_tangem

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
#* @tangem-developments/android-team

# Order is important; the last matching pattern takes the most
# precedence.

# Region Global
* @atkachev_tangem @ahohlov_tangem @vkozarez_tangem

# Region CI/CD

.github/workflows/ @ishulgin_tangem @vkozarez_tangem
ci_resources/ @ishulgin_tangem @vkozarez_tangem
fastlane @ishulgin_tangem @vkozarez_tangem

# Region App Legacy
app/ @atkachev_tangem @ahohlov_tangem @vkozarez_tangem

# Region Test
app/src/androidTest/ @tnagmetulla_tangem @ishulgin_tangem


# Region Common

common/ui/ @mismoilov_tangem

common/routing/ @atkachev_tangem

common/ui-charts/ @nsamoylov_tangem @mismoilov_tangem

# Region Core

core/decompose/ @nsamoylov_tangem @atkachev_tangem

core/navigation/ @atkachev_tangem

core/pagination/ @nsamoylov_tangem

core/ui/ @mismoilov_tangem

core/utils/ @atkachev_tangem @ahohlov_tangem


# Region features

**/details/ @atkachev_tangem

**/disclaimer/ @mismoilov_tangem

**/manage-tokens/ @atkachev_tangem

**/markets/ @nsamoylov_tangem

**/onboarding/ @atkachev_tangem  @ahohlov_tangem

**/onboarding-v2/ @nsamoylov_tangem

**/onramp/ @dkamalov_tangem

**/push-notifications/ @mismoilov_tangem

**/qr-scanning/ @mismoilov_tangem

**/send/ @mismoilov_tangem

**/staking/ @ishulgin_tangem @mismoilov_tangem

**/stories/ @mismoilov_tangem

**/swap/ @vkozarez_tangem

**/tester/ @ahohlov_tangem

**/tokendetails/ @dkamalov_tangem

**/wallet/ @ahohlov_tangem

**/wallet-settings/ @atkachev_tangem
